<div class="mdl-card something-else mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop">
    <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent" onclick="shareBlog()">
        <i class="material-icons mdl-color-text--white no-url" role="presentation">share</i>
        <span class="visuallyhidden">share</span>
    </button>

    <div class="mdl-card__media mdl-color--white mdl-color-text--grey-600">
        <a href="about">
            <img src="../img/profile.png" height="300">
        </a>
        <h3>
            Blog
        </h3>
        <div>
            rohitsuratekar.com
        </div>
    </div>
    <div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
        {%if site.posts.size > 0 %}
        <div style="text-align:center;  margin: auto; width:100%;">
            <a href="all" class="no-url mdl-color-text--grey-600"> All Posts</a>
        </div>
        {%endif%}
    </div>
</div>