<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Rohit's Blog</title>

    <link rel="shortcut icon" href="images/favicon.png"> {% include base_header.html %}
    <style>
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
    </style>
</head>



<body>
    <div class="blog mdl-layout mdl-js-layout has-drawer is-upgraded">
        <main class="mdl-layout__content">
            <div class="blog__posts mdl-grid">
                {%if site.posts.size > 0 %}
                <!-- First Post -->
                <div class="mdl-card mdl-cell mdl-cell--8-col">
                    <div class="mdl-card__menu mdl-color-text--grey-500">
                        Latest Post
                    </div>
                    {%if site.posts[0].feature_image != null %}
                    <div class="mdl-card__media mdl-color-text--grey-50" style=" background-image: url( {{site.posts[0].feature_image}} ); background-color:#004D40;">
                        <h3>
                            <a href="{{site.posts[0].url}}">{{site.posts[0].title}}</a>
                        </h3>
                    </div>
                    {%else%}
                    <div class="mdl-card__media mdl-color-text--grey-50 " style="background-color:#004D40;">
                        <h3>
                            <a class="no-url" href="{{site.posts[0].url}}">{{site.posts[0].title}}</a>
                        </h3>
                    </div>
                    {% endif %}
                    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                        <div class="minilogo"></div>
                        <div>
                            <strong>{{site.posts[0].author}}</strong>
                            <span>{{site.posts[0].date | date: "%b %-d, %Y"}}</span>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- Blog Info -->
                {% include blog_info.html %} {%for post in site.posts%} {%if forloop.index != 1%}

                <div class="mdl-card amazing mdl-cell mdl-cell--6-col">
                    {%if post.feature_image != null %}
                    <div class="mdl-card__media mdl-color-text--grey-50" style=" background-image: url( {{post.feature_image}} );background-color:#004D40;">
                        <h3>
                            <a href="{{post.url}}">{{post.title}}</a>
                        </h3>
                    </div>
                    {%else%}
                    <div class="mdl-card__title mdl-color-text--grey-50">
                        <h4>
                            <a href="{{post.url}}" class="no-url">{{post.title}}</a>
                        </h4>
                    </div>
                    {% endif %}
                    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                        {{ post.content | strip_html | truncatewords: 50 }}
                    </div>
                    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                        <div class="minilogo"></div>
                        <div>
                            <strong> {%if post.author == null %} unknown {%else%} {{post.author}} {% endif %}</strong>
                            <span>{{post.date | date: "%b %-d, %Y"}}</span>
                        </div>
                    </div>
                </div>

                {% endif %}

                <!-- Allow only 5 posts on home page -->
                {%if forloop.index == 5%} {% break %} {% endif %} {%endfor%} {%if site.posts.size > 0 %}
                <nav class="demo-nav mdl-cell mdl-cell--12-col">
                    <div class="section-spacer"></div>
                    <a href="all" class="demo-nav__button" title="show more">
                        More
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                            <i class="material-icons" role="presentation">arrow_forward</i>
                        </button>
                    </a>
                </nav>
                {%endif%}
            </div>
            {% include base_footer.html %}
        </main>
        <div class="mdl-layout__obfuscator"></div>
    </div>
    <a href="https://rohitsuratekar.com" id="view-source" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-color--accent mdl-color-text--white">
        <i class="material-icons">open_in_new</i>
    </a>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/material.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/site.js"></script>
</body>
<script>
    Array.prototype.forEach.call(document.querySelectorAll('.mdl-card__media'), function (el) {
        var link = el.querySelector('a');
        if (!link) {
            return;
        }
        var target = link.getAttribute('href');
        if (!target) {
            return;
        }
        el.addEventListener('click', function () {
            location.href = target;
        });
    });
</script>

</html>